body
{
    margin : 0;
    padding: 0;
}

h1
{
    background-color: #5ab5d6;
    color : white;

    padding: 20px;
    margin: 0;

    text-align: center;
    
}

.conteudo
{
    width: 600px;
    margin: 20px auto;
    padding: 20px;

    border: 1px solid #5ab5d6;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(25, 67, 119);
}

.conteudo li
{    
    line-height: 1.5;
}

.conteudo a
{
    color : #5ab5d6;
}
input[type=text], input[type=number]
{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
input[type=button]
{
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 90px;
}